<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>

    <link rel="stylesheet" th:href="@{/css/product.css}" />
  </head>
  <body>
    <h1>create product</h1>
    <form
      th:action="@{/createProduct}"
      method="POST"
      class="form"
      accept-charset="UTF-8"
    >
      <label for="name">
        Name:
        <input id="name" type="text" name="name" />
      </label>

      <label for="price">
        Price:
        <input id="price" type="number" name="price" />
      </label>

      <label for="description">
        Description
        <input id="description" type="text" name="description" />
      </label>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>

    <h2>Product List</h2>
    <form action="product?page=1" method="GET">
      Keyword:
      <input type="text" name="keyword" />
      <button type="submit">Search</button>
    </form>
    <div class="list">
      <div class="list_row list_title">
        <span>id</span>
        <span>name</span>
        <span>price</span>
        <span>description</span>
        <span>action</span>
      </div>
      <div th:each="product : ${productList}" class="list_row">
        <span th:text="${product.id}">id</span>
        <span>
          <a
            th:text="${product.name}"
            th:href="@{/editProduct(id=${product.id})}"
            >name</a
          >
        </span>
        <span th:text="${product.price}">price</span>
        <span th:text="${product.description}">description</span>
        <span>
          <button th:onclick="|deleteProduct(${product.id})|">x</button>
        </span>
      </div>
    </div>

    <div class="pagination">
      <span th:text="|${page} / ${totalPage}|"></span>
      <a
        th:if="${page - 1 > 0}"
        th:href="@{/product(page=${page - 1}, keyword=${keyword})}"
        >prev</a
      >
      <a
        th:if="${page + 1 <= totalPage}"
        th:href="@{/product(page=${page + 1}, keyword=${keyword})}"
        >next</a
      >
    </div>

    <script th:src="@{/js/product.js}"></script>
  </body>
</html>
